#Notifications {
  Position: Absolute;
  Top: 0;
  Right: 0;
  Z-Index: 10;
  Max-Height: Calc(100% - 10px * 2);
  Padding: 10px;
  Overflow: Auto;
}

#Notifications .Notification {
  Z-Index: 2;
  Background-Color: Var(--Background-02);
  Box-Shadow: 0 1px 3px HSLA(0, 0%, 0%, 25%), 0 4px 12px HSLA(0, 0%, 0%, 10%);
  Gap: 10px;
  Border-radius: 5px;
  Padding: 15px;
  Transition: Opacity 250ms, Height 250ms, Padding 250ms;
}

#Notifications .Notification:not(:last-child) {
  Margin-bottom: 10px;
}

#Notifications .Notification.Closing {
  Opacity: 0;
  Height: 0 !important;
  Padding: 0 15px;
  Margin: 0;
  Overflow: Hidden;
}

#Notifications .Notification Custom-Icon {
  --Scale: 36px;
}

#Notifications .Notification.Type-Good > Custom-Icon {
  --Color: Var(--Main-UI);
}

#Notifications .Notification.Type-Bad > Custom-Icon {
  --Color: Brown;
}

#Notifications .Notification Span {
  Max-Width: 190px;
  Max-Height: 400px;
}
