@import 'Library/UI/Basic/Body.scss';
@import 'Library/UI/Basic/Reset.scss';
@import 'Library/UI/Basic/Media.scss';

Body
{
	Background: Var(--Background-00);

	& > Header
	{
		Position: Fixed;
		Background-color: Var(--Background-01);
		Border-bottom: 1px Solid Var(--Gray-20);
		Gap: 10px;
		Padding: 20px;
	}

	& > Article
	{
		Max-width: 950px;
		Padding: 146px 25px 25px 25px;
		Gap: 75px;

		& > H1
		{
			@include Reset_H;
			Font-family: Var(--Font-Title);
			Font-weight: 500;
			Text-align: Center;
			Line-height: 115%;

			@media ($WideScreen)
			{
				Font-size: 36px;
			}

			@media ($NarrowScreen)
			{
				Font-size: 32px;
			}
		}

		P
		{
			@include Reset_P;
			Font-family: Var(--Font-Text);
		}

		& > P.Introduction
		{
			Font-size: 15.75px;

			@media ($WideScreen)
			{
				Padding: 0 25px;
			}
		}

		& > .Authors
		{
			Gap: 25px;
			Justify-content: Space-evenly;
			Flex-wrap: Wrap;
			Padding: 0 25px;

			& > *
			{
				Font-size: 24px;
				Font-family: Var(--Font-Title);
				Font-weight: 500;
			}
		}

		& > .Body
		{
			@media ($WideScreen)
			{
				Column-count: 2;
				Column-gap: 75px;
			}

			& > :not(:last-child)
			{
				Margin-bottom: 15px;
			}

			& > H2
			{
				@include Reset_H;
				Text-align: Center;
				Font-size: 20.5px;
			}

			P
			{
				&.Highlighted
				{
					Border-left: 3.5px Solid unquote('HSL(Var(--Hue), Calc(Var(--Saturation) * 0.75), Var(--Lightness))');
					Padding: 10px 10px 10px 20px;
				}
			}

			UL
			{
				Margin: 0;
				Padding-left: 25px;

				& > LI
				{
					&:not(:last-child)
					{
						Margin-bottom: 15px;
					}

					&::marker
					{
						Content: '−   ';	// TO DO: Margin
					}
				}
			}

			Blockquote
			{
				@include Reset_Blockquote;
				Background-color: HSL(220, 10%, 99%);
				box-shadow: 0 1px 1px 0 RGB(0 0 0 / 20%),0 1px 2px 1px RGB(0 0 0 / 10%);
				Padding: 25px;
				Gap: 25px;

				& > .Text
				{
					Text-align: Center;
				}

				& > HR
				{
					Width: 25px !important;
				}

				& > .Author
				{
					Font-family: Var(--Font-Title);
				}
			}
		}
	}
}