@charset "UTF-8";
HTML {
  Width: 100%;
  Height: 100%;
}

Body {
  Margin: 0;
}

Body {
  Background-color: HSL(36, 15%, 95%);
}

Body > Header {
  Position: Fixed;
  Background-color: Var(--Background-01);
  Border-bottom: 1px Solid Var(--Gray-20);
  Gap: 10px;
  Padding: 20px;
}

Body > Article {
  Max-width: 950px;
  Padding: 146px 25px 25px 25px;
  Gap: 75px;
}

Body > Article > H1 {
  Margin: 0;
  Font-weight: 400;
  Font-size: 16px;
  Font-family: Var(--Font-Title);
  Font-weight: 500;
  Text-align: Center;
  Line-height: 115%;
}

@media (min-width: 600px) {
  Body > Article > H1 {
    Font-size: 36px;
  }
}

@media (max-width: 600px) {
  Body > Article > H1 {
    Font-size: 32px;
  }
}

Body > Article P {
  Margin: 0;
  Font-family: Var(--Font-Text);
}

Body > Article > P.Introduction {
  Font-size: 15.75px;
}

@media (min-width: 600px) {
  Body > Article > P.Introduction {
    Padding: 0 25px;
  }
}

Body > Article > .Authors {
  Gap: 25px;
  Justify-content: Space-evenly;
  Flex-wrap: Wrap;
  Padding: 0 25px;
}

Body > Article > .Authors > * {
  Font-size: 24px;
  Font-family: Var(--Font-Title);
  Font-weight: 500;
}

@media (min-width: 600px) {
  Body > Article > .Body {
    Column-count: 2;
    Column-gap: 75px;
  }
}

Body > Article > .Body > :not(:last-child) {
  Margin-bottom: 15px;
}

Body > Article > .Body > H2 {
  Margin: 0;
  Font-weight: 400;
  Font-size: 16px;
  Text-align: Center;
  Font-size: 20.5px;
}

Body > Article > .Body P.Highlighted {
  Border-left: 3.5px Solid HSL(Var(--Hue), Calc(Var(--Saturation) * 0.75), Var(--Lightness));
  Padding: 10px 10px 10px 20px;
}

Body > Article > .Body UL {
  Margin: 0;
  Padding-left: 25px;
}

Body > Article > .Body UL > LI:not(:last-child) {
  Margin-bottom: 15px;
}

Body > Article > .Body UL > LI::marker {
  Content: '−   ';
}

Body > Article > .Body Blockquote {
  Margin: 0;
  Background-color: HSL(220, 10%, 99%);
  -webkit-box-shadow: 0 1px 1px 0 RGB(0 0 0/20%), 0 1px 2px 1px RGB(0 0 0/10%);
          box-shadow: 0 1px 1px 0 RGB(0 0 0/20%), 0 1px 2px 1px RGB(0 0 0/10%);
  Padding: 25px;
  Gap: 25px;
}

Body > Article > .Body Blockquote > .Text {
  Text-align: Center;
}

Body > Article > .Body Blockquote > HR {
  Width: 25px !important;
}

Body > Article > .Body Blockquote > .Author {
  Font-family: Var(--Font-Title);
}
