@charset "UTF-8";
Body {
  Gap: 25px;
  Background-color: HSL(36, 15%, 95%);
}

@media (min-width: 600px) {
  Body {
    Padding: 50px;
  }
}

@media (max-width: 600px) {
  Body {
    Padding: 20px;
  }
}

Body > H1 {
  Margin: 0;
  Font-weight: 400;
  Font-size: 16px;
  Font-size: 32px;
  Font-family: Var(--Font-Title);
}

Body > UL {
  Margin: 0;
  Padding-left: 35px;
  Font-family: Var(--Font-Text);
}

Body > UL LI {
  Margin-top: 7.5px;
}

Body > UL LI::marker {
  Content: '−   ';
}
