@import 'Library/UI/Basic/Reset.scss';
@import 'Library/UI/Basic/Media.scss';

Body
{
	Gap: 25px;

	@media ($WideScreen)
	{
		Padding: 50px;
	}

	@media ($NarrowScreen)
	{
		Padding: 20px;
	}

	& > H1
	{
		@include Reset_H;
		Font-size: 32px;
		Font-family: Var(--Font-Title);
	}

	& > UL
	{
		@include Reset_UL;
		Padding-left: 35px;
		Font-family: Var(--Font-Text);
		Overflow-X: Auto;
		Overflow-Y: Hidden;

		UL
		{
			Padding-left: 100px;
			Border-left: 1px Solid Var(--Gray-10);
			Margin-left: -22.5px;
		}

		LI
		{
			Margin-top: 7.5px;
			White-space: Nowrap;

			&::marker
			{
				Content: '−   ';
			}
		}
	}

	A
	{
		@include Reset_A;
		Border-bottom: 1px Solid Var(--Text);
		Transition: 100ms;

		&:hover
		{
			Color: Var(--Main);
		}
	}
}