@charset "UTF-8";
@media (min-width: 600px) {
  Body {
    Gap: 100px;
    Padding: 100px 0 100px 50px;
  }
}

@media (max-width: 600px) {
  Body {
    Gap: 50px;
    Padding: 50px 0 50px 20px;
  }
}

Body > H1 {
  Margin: 0;
  Font-weight: 400;
  Font-size: 16px;
  Font-family: Var(--Font-Title);
}

@media (min-width: 600px) {
  Body > H1 {
    Font-size: 38px;
  }
}

@media (max-width: 600px) {
  Body > H1 {
    Font-size: 32px;
  }
}

Body > UL {
  Margin: 0;
  Padding-left: 35px;
  Font-family: Var(--Font-Text);
  Margin: Auto;
}

@media (min-width: 600px) {
  Body > UL {
    Padding-right: 50px;
  }
}

@media (max-width: 600px) {
  Body > UL {
    Padding-right: 20px;
  }
}

Body > UL UL {
  Padding-left: 100px;
  Border-left: 1px Solid Var(--Gray-10);
  Margin-left: -22.5px;
}

Body > UL LI {
  Margin-top: 7.5px;
  White-space: Nowrap;
}

Body > UL LI.Hub::marker {
  Content: '○   ';
}

Body > UL LI:not(.Hub)::marker {
  Content: '−   ';
}

Body A {
  Text-decoration: None;
  Color: Inherit;
  Border-bottom: 1px Solid Var(--Text);
  Transition: 100ms;
}

Body A:hover {
  Color: Var(--Main);
}
