@import 'Library/UI/Basic/Reset.scss';
@import 'Library/UI/Basic/Media.scss';

Header
{
	@media ($WideScreen)
	{
		Padding: 20px 30px;
	}

	@media ($NarrowScreen)
	{
		Padding: 20px;
	}

	& > A
	{
		@include Reset_A;
		Font-family: Var(--Font-UI);
		Font-weight: 500;
		Font-size: 14px;
	}
}

Main
{
	Padding: 10px;
	Gap: 125px;

	& > H1
	{
		@include Reset_H;
		Font-family: Var(--Font-Title);
		Word-break: Break-word;
		Text-align: Center;

		@media ($WideScreen)
		{
			Font-size: 38px;
		}

		@media ($NarrowScreen)
		{
			Font-size: 32px;
		}

		@media (max-width: 300px)
		{
			Font-size: 26px;
		}
	}

	& > #Features
	{
		Flex-wrap: Wrap;
		Gap: 10px;

		& > .Feature
		{
			Gap: 25px;
			Padding: 25px;
			Border: 1px Solid Var(--Gray-20);
			Border-radius: 5px;
			Max-width: 300px;

			& > Div
			{
				Gap: 7.5px;

				& > H2
				{
					@include Reset_H;
					Font-weight: 500;
				}

				& > Div
				{
					Color: Var(--Gray-60);
				}
			}

			& > A
			{
				@include Reset_A;
				Font-family: Var(--Font-UI);
				Font-weight: 500;
				Font-size: 14px;
				Color: Var(--Main);
			}
		}
	}
}