HR {
  Margin: 0;
  Border: None;
}

HR > .Horizontal,
[AutoLayout][Direction="Vertical"] > HR {
  Width: 100%;
  Height: 0;
  Border-Bottom: 1px Solid Var(--Gray-20);
}

HR > .Vertical,
[AutoLayout][Direction="Horizontal"] > HR {
  Width: 0;
  Height: 100%;
  Border-Right: 1px Solid Var(--Gray-20);
}
