* {
  Color: Var(--Text);
  Font-Size: 16px;
}

.Ellipsis,
.Ellipsis * {
  Overflow: Hidden;
  Text-Overflow: Ellipsis;
  White-Space: Nowrap;
}

Button.Text {
  Padding: 0;
  Font-Size: 100%;
  Border: None;
  Background: None;
  Text-Align: Initial;
}

A.Text {
  Text-decoration: None;
  Color: Inherit;
}

Button.Text,
A.Text {
  --Button-Color: Var(--Text);
  --Button-Color-Background: Var(--Gray-5);
  Width: Fit-content;
  Max-width: -webkit-fill-available;
  Padding: 3px 5px;
  Border-radius: 5px;
  Transition: Color 25ms, Background-color 25ms;
  --Ripple-Color: Var(--Button-Color);
  Overflow: Hidden;
  Text-Overflow: Ellipsis;
  White-Space: Nowrap;
}

Button.Text.Main,
A.Text.Main {
  --Button-Color: Var(--Main-UI);
  --Button-Color-Background: Var(--Main-UI-Transparent);
}

Button.Text.Gray:not(:hover),
A.Text.Gray:not(:hover) {
  --Button-Color: Var(--Gray-70);
}

Button.Text.Roomy,
A.Text.Roomy {
  Padding: 7.5px;
}

Button.Text:Hover,
A.Text:Hover {
  Background-color: Var(--Button-Color-Background);
}

Button.Text,
Button.Text.Icon > Span,
A.Text,
A.Text.Icon > Span {
  Font-size: 14px;
  Font-weight: 500;
  Font-family: Var(--Font-UI);
  Color: Var(--Button-Color);
}

Button.Text.Icon,
A.Text.Icon {
  Display: Flex;
  Align-items: Center;
  Gap: 7.5px;
}

Button.Text.Icon > Custom-icon,
A.Text.Icon > Custom-icon {
  --Icon-Color: Var(--Button-Color);
  --Icon-Scale: 20px;
}

Button.Text.Outlined,
A.Text.Outlined {
  Border: 1px Solid Var(--Gray-20);
}

Button.Text.Outlined.Main,
A.Text.Outlined.Main {
  Border-color: HSLA(146, 70%, 30%, 25%);
}
